/* ****** */
/* Common */
/* ****** */

.clear {
	clear: both;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
}

* {
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #d5e2ce;
}

a {
	outline: none;
	border: none;
	text-decoration: none;
}

/* ********* */
/* Container */
/* ********* */

#container {
	width: 611px;
	height: 374px;
	margin: 20px auto;
	box-shadow: 3px 3px 3px #000;
}

#container .panel {
	position: relative;
	background: transparent url(../img/panel.jpg) top left no-repeat;
}

#container .panel .inner {
	width: 611px;
	height: 374px;
}

/* ***** */
/* Modal */
/* ***** */

#container .panel .inner .modal {
	display: none;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity:0.6;
	filter:alpha(opacity=60); 
	z-index: 1000;
}

/* ***** */
/* Popup */
/* ***** */

#container .panel .inner .popup {
	display: none;
	width: 457px;
	height: 500px;
	position: absolute;
	left: 77px;
	top: -30px;
	background: transparent url(../img/popup.png) top left no-repeat;
	z-index: 2000;
}

#container .panel .inner .popup h1 {
	font-size: 18px;
	color: #57402b;
	text-align: center;
	text-shadow: 2px 2px #efdfb7;
	filter: progid:DXImageTransform.Microsoft.DropShadow(offx=2, offy=2, color=#efdfb7);
	margin: 0px;
	padding: 40px 10px 0px 10px;
}

#container .panel .inner .popup div {
	font-size: 14px;
	color: #57402b;
	text-align: center;
	text-shadow: 2px 2px #efdfb7;
	filter: progid:DXImageTransform.Microsoft.DropShadow(offx=2, offy=2, color=#efdfb7);
	padding: 5px 60px;
}

#container .panel .inner .popup div form dl {
	margin: 0px;
}

#container .panel .inner .popup div form dt {
	margin: 0px;
	padding: 3px 0px;
	width: 120px; 
	float: left;
}

#container .panel .inner .popup div form dd {
	margin: 0px;
	padding: 3px 0px;
	width: 200px; 
	float: left;
}

#container .panel .inner .popup div label {
	font-size: 14px; 
}

#container .panel .inner .popup div .input {
	width: 200px; 
	font-size: 14px; 
	color: #000;
	border-radius: 5px;
	border: 1px solid #999;
	background-color: #FFF;
	padding: 1px 5px;
	margin: 0px;
}

#container .panel .inner .popup div .error { 
	background-color: #eaaaaa;
}

#container .panel .inner .popup div .button {
	display: inline-block;
	width: auto;
	background: #9fc90d;
	border: 3px solid #fff;
	border-radius: 35px;
	padding: 0px 18px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	box-shadow: 0 5px 0 #7F7F7F;
	filter: progid:DXImageTransform.Microsoft.DropShadow(offx=0, offy=5, color=#7F7F7F);
	text-shadow: none;
}

#container .panel .inner .popup div input.button {
	margin-top: 5px;
}

/* **** */
/* Game */
/* **** */

#container .panel .inner .game {
	position: relative;
	width: 611px;
	height: 374px;
	overflow: hidden;
}

#container .panel .inner .game a.reveal {
	display: block;
	width: 140px;
	height: 64px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-indent: -5000px;
}

#container .panel .inner .game a.how {
	display: block;
	width: 180px;
	height: 150px;
	position: absolute;
	left: 0px;
	bottom: 60px;
	text-indent: -5000px;
}

#container .panel .inner .game .tiles a.tile {
	display: block;
	width: 83px;
	height: 64px;
	position: absolute;
}

#container .panel .inner .game .tiles a.tile div {
	display: none;
	width: 83px;
	height: 64px;
	text-indent: -5000px;
}

#container .panel .inner .game .tiles a.open {
	background: transparent url(../img/window.png) top left no-repeat;
}

#container .panel .inner .game .tiles a.open div {
	display: block;
}

#container .panel .inner .game .cache {
	position: absolute;
	top: -5000px;
	left: -5000px;
}

/* ************ */
/* Tile Co-ords */
/* ************ */

#container .panel .inner .game .tiles a.tile0 {
	top: 137px;
	left: 187px;
}

#container .panel .inner .game .tiles a.tile1 {
	top: 137px;
	left: 266px;
}

#container .panel .inner .game .tiles a.tile2 {
	top: 137px;
	left: 352px;
}

#container .panel .inner .game .tiles a.tile3 {
	top: 202px;
	left: 187px;
}

#container .panel .inner .game .tiles a.tile4 {
	top: 202px;
	left: 266px;
}

#container .panel .inner .game .tiles a.tile5 {
	top: 202px;
	left: 352px;
}

#container .panel .inner .game .tiles a.tile6 {
	top: 267px;
	left: 187px;
}

#container .panel .inner .game .tiles a.tile7 {
	top: 267px;
	left: 266px;
}

#container .panel .inner .game .tiles a.tile8 {
	top: 267px;
	left: 352px;
}

/* **************** */
/* Tile Backgrounds */
/* **************** */

#container .panel .inner .game .bauble {
	background: transparent url(../img/tiles/bauble.png) top left no-repeat;
}

#container .panel .inner .game .bell {
	background: transparent url(../img/tiles/bell.png) top left no-repeat;
}

#container .panel .inner .game .candle {
	background: transparent url(../img/tiles/candle.png) top left no-repeat;
}

#container .panel .inner .game .cane {
	background: transparent url(../img/tiles/cane.png) top left no-repeat;
}

#container .panel .inner .game .present {
	background: transparent url(../img/tiles/present.png) top left no-repeat;
}

#container .panel .inner .game .reef {
	background: transparent url(../img/tiles/reef.png) top left no-repeat;
}

#container .panel .inner .game .santa {
	background: transparent url(../img/tiles/santa.png) top left no-repeat;
}

#container .panel .inner .game .snowflake {
	background: transparent url(../img/tiles/snowflake.png) top left no-repeat;
}

#container .panel .inner .game .snowman {
	background: transparent url(../img/tiles/snowman.png) top left no-repeat;
}

#container .panel .inner .game .sock {
	background: transparent url(../img/tiles/sock.png) top left no-repeat;
}

